<div class="header-nav">
  <%- include ("./navigation" , {userName : userName}) %>
    <!-- <hr class="nav__line" /> -->

    <header>
      <div data-aos="fade-down" data-aos-duration="1000"  class="content">
        <div class="head-swiper">
          <div class="head-content swiper-wrapper">
            <div class="slide swiper-slide">
              <div class="centre">
              <div class="head">Diverse <br> Elegance</div>
              <div class="tagline">Elevate Your Style, Expand Your Options: Where Variety Meets Affordability in Every
                Sparkle.</div>
              <button><a href="">Show now</a></button>
            </div>
            </div>
            <div class="slide swiper-slide">
              <div class="centre">
              <div class="head">Buy as <br> Merchant</div>
              <div class="tagline">Elevate Your Style, Expand Your Options: Where Variety Meets Affordability in Every
                Sparkle.</div>
              <button><a href="">Show now</a></button>
              </div>
            </div>
            <div class="slide swiper-slide">
              <div class="centre">
              <div class="head">Explore <br> Collections</div>
              <div class="tagline">Elevate Your Style, Expand Your Options: Where Variety Meets Affordability in Every
                Sparkle.</div>
              <button><a href="">Show now</a></button>
              </div>
            </div>
          </div>
          <!-- <div class="swiper-button-next nav-btn"></div>
          <div class="swiper-button-prev nav-btn"></div>
          <div class="swiper-pagination"></div> -->
        </div>
      </div>

      <div data-aos="fade-up" data-aos-duration="1000" class="slides">
        <div class="slide-image" id="slide-image-0">
          <img src="/assets/images/img1.jpeg" alt="">
        </div>
        <div class="slide-image" id="slide-image-1">
          <img src="/assets/images/img2.jpeg" alt="">
        </div>
        <div class="slide-image" id="slide-image-2">
          <img src="/assets/images/img3.jpeg" alt="">
        </div>
        <div class="button-next" id="moveRightButton">
          <svg class="qodef-svg--slider-arrow-right" x="0px" y="0px" width="24" height="50" viewBox="0 0 24 50"
            xml:space="preserve">
            <path d="m 0.4 0.3 l 22 24.5 l -22 24.5"></path>
          </svg>
        </div>
      </div>
    </header>

</div>

<div class="latest">
  <h1>Latest Collection</h1>
  <div class="center">
    <div class="latest-block owl-carousel owl-theme">
      <% for(let i=0 ; i < products.length ; i++){ %>
        <div class="card products_block__card item">
          <div onclick="location.href='<%=`/product/${products[i]._id}/`%>';" class="products_block__card_img">
            <img src="<%=products[i].featuredImage %>" alt="" />
            <form class="cart" action="<%=`/user/addToCart/${products[i]._id}`%>" method="POST">
              <button type="submit">Add To Cart</button>
            </form>
          </div>
          <div class="products_block__card_details">
            <div class="products_block__card_details_name">
              <div class="name">
                <%=products[i].productName %>
              </div>
              <div class="info">
                <a href="#">category</a>
              </div>
              <div class="price">₹ <%=products[i].price %>
              </div>
            </div>
            <% let url=`/user/addToWishlist/${products[i]._id}`; %>
              <div onclick="updateWishlist(`<%= products[i]._id %>`)" data="<%=products[i].isWishlist %>"
                class="products_block__card_details_fav">
                <form action="<%= url %>" method="get" target=<%=`uploader_iframe_${products[i]._id}` %>>
                  <button id=<%=`fav_button_${products[i]._id}` %> type="submit">
                    <%if(Boolean(products[i].isWishlisted)){%>
                      <i class="zmdi zmdi-favorite"></i>
                      <%}else{%>
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <%}%>
                  </button>
                  <div data-aos="fade-right" class="status" id=<%=`status_${products[i]._id}` %>></div>
                </form>
                <iframe id=<%=`uploader_iframe_${products[i]._id}` %> name=<%= `uploader_iframe_${products[i]._id}` %>
                    ></iframe>
              </div>
          </div>
        </div>
        <% } %>
    </div>
  </div>

  <!-- <button id="customPrevBtn">Prev button</button>
  <button id="customNextBtn">Next button</button> -->

</div>

<div class="mid">
  <div data-aos="fade-right" data-aos-duration="1000" data-aos-offset="300" class="mid__jewelry">
    <p>jewelry</p>
  </div>
  <div class="mid__quote">
    Every piece tells a story of sophistication, <br />
    tailored for the vibrant tapestry of modern life yet holding our culture.
  </div>
  <div data-aos="fade-left" data-aos-duration="1000" class="mid__selection" data-aos-offset="200">
    <p>selection</p>
  </div>
  <div class="mid__story" data-aos="flip-right" data-aos-duration="1000" data-aos-offset="400">
    <span class="mid__story__bigO" data-text="O">O
      <span class="mid__story__text">Our Story</span>
    </span>
  </div>
</div>
<div class="products__container" id="category">
  <div class="products">
    <!-- <h1>Our Products :</h1> -->
    <div class="products__block products__block__item1">
      <div class="products__block__content">
        <h1>Categories</h1>
      </div>
    </div>

    <div onclick="location.href='/category/Pendants';" class="products__block products__block__item2">
      <span class="ellipses">
        <svg class="check" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 568.4 532.7"
          style="enable-background: new 0 0 568.4 532.7" xml:space="preserve">
          <path d="M21,266a263,163 0 1,0 526,0a263,163 0 1,0 -526,0" transform="rotate(-14.67 284.165 266.296)"></path>
          <path d="M21,266a263,163 0 1,0 526,0a263,163 0 1,0 -526,0" transform="rotate(-60.877 284.171 266.32)"></path>
        </svg>
      </span>
      <div class="products__block__img products__block__img2"></div>
      <div class="products__block__content">
        <h4 class="products__block__content__title">
          <a href="/category/Pendants"> Pendants </a>
        </h4>
        <div class="products__block__content__more">
          <a class="products__block__content__more--link" href="/category/Pendants" target="_self">
            <span>Check Out</span></a>
        </div>
      </div>
    </div>

    <div onclick="location.href='/category/Bracelets';" class="products__block products__block__item3">
      <div class="products__block__img products__block__img3"></div>
      <span class="rectangle">
        <span class="rectangle-inner"></span>
      </span>
      <div class="products__block__content">
        <h4 class="products__block__content__title">
          <a href="/category/Bracelets"> Bracelets </a>
        </h4>
        <div class="products__block__content__more">
          <a class="products__block__content__more--link" href="/category/Bracelets" target="_self">
            <span>Check Out</span></a>
        </div>
      </div>
    </div>

    <div onclick="location.href='/category/Payals';" class="products__block products__block__item4">
      <div class="products__block__img products__block__img4"></div>
      <span class="frame">
        <span class="frame-inner">
          <svg class="qodef-svg--frame" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 427.7 533.7"
            style="enable-background: new 0 0 427.7 533.7" xml:space="preserve">
            <path class="frame-hidden"
              d="M425.7,239.5c0-131-94.8-237.1-211.9-237.1S2,108.5,2,239.5c0,4.3,0.1,8.6,0.3,12.8v279.1h423.4V240.3h0  C425.7,240,425.7,239.7,425.7,239.5z">
            </path>
            <!-- <use x="11" y="27" width="78" height="47.5"  /> -->
          </svg>
        </span>
      </span>
      <div class="products__block__content">
        <h4 class="products__block__content__title">
          <a href="/category/Payals"> Payals </a>
        </h4>
        <div class="products__block__content__more">
          <a class="products__block__content__more--link" href="/category/Payals" target="_self">
            <span>Check Out</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reviews">
  <div class="testimonial mySwiper">
    <div class="testi-content swiper-wrapper">
      <div class="slide swiper-slide">
        <img src="/assets/images/me.png" alt="" class="image" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
          saepe provident dolorem a quaerat quo error facere nihil deleniti
          eligendi ipsum adipisci, fugit, architecto amet asperiores
          doloremque deserunt eum nemo.
        </p>
        <i class="bx bxs-quote-alt-left quote-icon"></i>
        <div class="details">
          <span class="name">Chitresh Dhaked</span>
          <span class="job">30th Jan 2024</span>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img src="/assets/images/me.png" alt="" class="image" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere repellendus necessitatibus nemo culpa eligendi rerum, ipsum reiciendis quo hic voluptas quod ab autem dicta architecto inventore accusantium, asperiores perspiciatis temporibus!
        </p>
        <i class="bx bxs-quote-alt-left quote-icon"></i>
        <div class="details">
          <span class="name">Chitresh Dhaked</span>
          <span class="job">30th Jan 2024</span>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img src="/assets/images/me.png" alt="" class="image" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
          saepe provident dolorem a quaerat quo error facere nihil deleniti
          eligendi ipsum adipisci, fugit, architecto amet asperiores
          doloremque deserunt eum nemo.
        </p>
        <i class="bx bxs-quote-alt-left quote-icon"></i>
        <div class="details">
          <span class="name">Chitresh Dhaked</span>
          <span class="job">30th Jan 2024</span>
        </div>
      </div>
    </div>
    <div class="swiper-button-next nav-btn"></div>
    <div class="swiper-button-prev nav-btn"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>

  $(document).ready(function () {
    console.log("bcjkbdkcbkdsc")

    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      autoplay: true,
      autoPlaySpeed: 5000,
      autoPlayTimeout: 2000,
      animateIn: 'fadeIn',
      animateOut: 'fadeOut',
      autoplayHoverPause: true,
      lazyLoad: true,
      nav: true,
      dots: true,
      navText: ["<i class='zmdi zmdi-chevron-left'></i>",
        "<i class='zmdi zmdi-chevron-right'></i>"],
      responsive: {
        0: {
          items: 2
        },
        600: {
          items: 2
        },
        800: {
          items: 3
        },
        1300: {
          items: 4
        }
      }
    })
  });

  $(document).ready(function () {
    $(function () {
      var swiper = new Swiper('.mySwiper', {
        slidesPerView: 1,
        grabCursor: true,
        loop: true,
        speed : 500,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    });
  });

  $(document).ready(function () {
  const slides = document.getElementsByClassName('slide-image');
  let currentIndex = slides.length - 1;

  for (let i = 0; i < slides.length; i++) {
    slides[i].style.zIndex = slides.length - i;
  }

  var swiper = new Swiper('.head-swiper', {
    direction: "vertical",
    slidesPerView: 1,
    loop: true,
    speed: 1000,
  });

  // Initial slide movement
  moveSlidesRight();

  setInterval(function () {
    swiper.slideNext();
    moveSlidesRight();
  }, 5000);

  document.getElementById('moveRightButton').addEventListener('click', function () {
    swiper.slideNext();
    moveSlidesRight();
  });

  function moveSlidesRight() {
    slides[currentIndex].style.animation = "slideLeft 1s";

    setTimeout(function () {
      slides[currentIndex].style.animation = "";
      currentIndex = (currentIndex + 1) % slides.length;
      let zIndex = slides.length;

      for (let i = currentIndex; i < currentIndex + slides.length; i++) {
        slides[i % slides.length].style.zIndex = zIndex;
        zIndex--;
      }
    }, 1000);
  }
});


function checkIframeLoaded(id) {
    var iframe = document.getElementById(`uploader_iframe_${id}`);

    function onLoadHandler() {
      var iframeDoc = iframe.contentDocument || iframe.contentWindow.document;

      if (iframeDoc) {
        var preElement = iframeDoc.body.getElementsByTagName('pre')[0];

        if (preElement) {
          var response = preElement.innerHTML;
          console.log({ response });

          // Update your button or perform other actions based on the response
          updateButton(response, id);
        } else {
          console.error("Error: 'pre' element not found in iframe content.");
          location.replace("/auth/login");
        }
      } else {
        console.error("Error: Unable to access iframe document.");
      }
    }

    if (iframe.readyState == 'complete') {
      onLoadHandler();
    } else {
      // Use the load event to ensure the content is fully loaded
      iframe.addEventListener('load', onLoadHandler);
    }
  }


  function updateButton(response, id) {
    const updateButton = document.getElementById(`fav_button_${id}`);
    let status = document.getElementById(`status_${id}`);
    status.style.display = "block";
    updateButton.classList.remove('load');
    console.log({response});
    if (response === "true") {
      updateButton.innerHTML = `<i class="zmdi zmdi-favorite"></i>`
      status.innerHTML = 'Added to Wishlist';
    } else if (response === "false") {
      updateButton.innerHTML = `<i class="zmdi zmdi-favorite-outline"></i>`
      status.innerHTML = 'Removed from Wishlist';
    } else {
      status.innerHTML = 'Try Again!';
    }
    setTimeout(function () {
      status.style.display = "none";
    }, 2000);
  }

  function updateWishlist(id) {
    const updateButton = document.getElementById(`fav_button_${id}`);
    updateButton.classList.add('load');
    console.log({ id })
    checkIframeLoaded(id);
  }
</script>

<%- include ("./footer") %>